.days-container {
    width: 90%;
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 25px;
}

* {
    padding: 0;
    margin: 0;
}

.days-box {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    margin-right: 5px;
    
}
.days-box:hover{
    cursor: pointer;
}


